.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title-bar {
  display: flex;
  justify-content: stretch;
}
.title-bar * {
  display: flex;
  flex-wrap: wrap;
  /* background-color: orange; */
  flex-grow: 1;
}
.score-container {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}
.score-container * {
  width: 51%;
  justify-content: center;
}

.questionBox {
  display: flex;
  box-sizing: border-box;
  width: 40%;
  border: 5px solid rgb(25, 46, 91);
  padding: 5px;
  margin: 5px;
}

.options-container {
  display: flex;
  border: 5px solid black;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  width: 100%;
  min-height: 50px;
  background-color: rgb(194, 31, 31);
  color:aliceblue;
  font-size: large;
}
.cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.368);
}

.red-border {
  border: 5px solid red;
}

.bold {
  font-weight: bold;
}
